.portafilter {
    z-index: 1;
    left: 42.5%;
    top: 10%;
    position: absolute;
}

.drip {
    z-index: 2;
    left: 42.5%;
    top: 10%;
    position: absolute;
    
}

.img-box{
    position: relative;
}