// Override default variables before the import
// $body-bg: #000;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (10: 10%,
          15: 15%,
          20: 20%),
          
        ),
      ),
    ),
  )
);

$offcanvas-vertical-height: auto;




// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  font-size:  1.2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p.smaller-text{
  font-size: 1rem;
}

.offcanvas-bottom {
    right: 0;
    left: 0;
    height: $offcanvas-vertical-height;
    max-height: 70%;
    border-top: $offcanvas-border-width solid $offcanvas-border-color;
    transform: translateY(100%);
  }

  .offcanvas-body{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  
  .offcanvas-body::-webkit-scrollbar { width: 0 !important }
  
h6.display-5{
    color: $indigo-400;
}

.btn-light-custom{
  background-color: $gray-400;
}
