/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.placeholder-right::placeholder{
  font-size: 1 em;
  text-align: right;
  margin-right: .1em;
}

input.input-error, select.input-error{
  border-color: #dc3545 !important;
}
  input.input-error:hover, select.input-error:hover{
   border-color: white !important;
  }